<div class="main-content" autocomplete="off">
    <div class="container-fluid">
        <div class=" d row">
            <div class="col-lg-4 col-md-2 col-sm-2">
                <div class="card" style="padding:10px 10px 10px 10px">
                    <div class="header">
                        <h3>Sign Up</h3>
                    </div>
                    <div class="content">
                        <form name="form" (ngSubmit)="signUp()">
                            <div class="form-group"><label>Firstname</label><input class="form-control" type="text" name="firstname" required [(ngModel)]="user.firstName" required/></div>
                            <div class="form-group"><label>Lastname</label><input class="form-control" type="text" name="lastname" required [(ngModel)]="user.lastName" required/></div>
                            <div class="form-group"><label>Email</label><input class="form-control" type="text" [(ngModel)]="user.email" name="email" #email="ngModel" [pattern]="patterns.email" required/></div>
                            <mat-error *ngIf="email.hasError('pattern')">
                                Email address is invalid
                            </mat-error>
                            <div class="form-group"><label>Phone Number</label><input class="form-control" type="text" name="cell" #cell="ngModel" [(ngModel)]="user.phoneNumber" [pattern]="patterns.cell" required/></div>
                            <mat-error *ngIf="cell.hasError('pattern')">
                                Cell number is invalid
                            </mat-error>
                            <div class="form-group"><label>Password</label><input class="form-control" type="password" name="password" required [(ngModel)]="user.password" required /></div>
                            <div class="form-group"><label>Confirm Password</label><input class="form-control" type="password" name="confirmPassword" [(ngModel)]="confirmPass" #confirmPassword="ngModel" (change)="pickUpChange(confirmPassword.value)" required/></div>
                            <mat-error *ngIf="!confirm">
                                Passwords do not match
                            </mat-error>
                            <div class="form-group">
                                <button class="btn btn-info btn-fill pull-right" style="float: right;" id="signIn ">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>